*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
body{
    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    color:#4cc2f4;
}

header{
    text-align: center;
}
header > h1{
    padding: 2rem 0;
    color:#e53170;
}

article{
    background-color: #0f0e17;
    color:white;
    box-shadow: 0 0 10px 0.1rem #0008;
    margin:2.9rem 1.8rem 0;
    width: calc(100% / 3 - 1.2rem);
}
article > img{
    height: 5.5rem;
    margin-right: 1rem;
}

section.container article:nth-child(3n),
section.container article:nth-child(3n + 1){
    margin: 2.9rem 0 0;
}

.container{
    margin: 0 auto;
    width: 70%;
}

.float-left{
    float: left;
}

.fredoka{
    font-family: 'Fredoka One', sans-serif;
}

.contact-info{
    padding: 0.5rem 0;
    text-align: start;
}
.contact-info *{
    margin: 0.3rem 0;
    font-size: 0.9rem;
}