*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    color:#4cc2f4;
}
a:hover{
    color:#d0f57a;
}
a:visited{
    color:#b07af5;
}
a:active{
    color:#4c87f4;
}

/* ------------------------------- HEADER ------------------------------ */
header{
    text-align: center;
}
header > h1{
    /* meglio con il margin */
    padding: 2rem 0;
    color:#e53170;
}
.fredokaOne{
    font-family: 'Fredoka One', sans-serif;
}

/* ------------------------------- MAIN ------------------------------ */
.container{
    margin: 0 auto;
    width: 70%;
}

.card{
    background-color: #0f0e17;
    color:white;
    box-shadow: 0 0 10px 0.1rem #0008;
    margin:2.9rem 0.9rem 0;
    width: calc(100% / 3 - 1.8rem);
    min-width: 19rem;
}
.card > img{
    height: 5.5rem;
    margin-right: 1rem;
}
.contact-info{
    padding: 0.5rem 0;
    text-align: start;
}
.contact-info *{
    margin: 0.3rem 0;
    font-size: 0.9rem;
}

.float-left{
    float: left;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}